body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

/* Top Section */
.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  color: #66bfbf;
}

h2 {
  color: #11999e;
}

/* Clouds */
.cloud {
  width: 100px;
  position: absolute;
}

.top-cloud {
  right: 200px;
  top: 40px;
}

.bottom-cloud {
  left: 200px;
  bottom: 40px;
}

/* Profile */
.profile {
  width: 150px;
  border-radius: 50%;
  margin-top: 40px;
}

/* Middle */
.middle-container {
  padding: 50px 0;
}

/* Skills */
.skill {
  margin: 20px;
}

/* Footer */
.bottom-container {
  background-color: #66bfbf;
  padding: 20px;
  color: white;
}
