body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("images/bg.jpg") center/cover no-repeat;
  z-index: -1;
}
